form {
  margin: 0;

  label {
    display: block;
    font-size: 0.8rem;
    color: #7f4900;
    padding-top: 0.2rem;
  }
  h3 {
    font-size: 0.9rem;
    color: #7f4900;
    margin: 1.5rem 0 0.2rem 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    width: 250px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="email"],
  select {
    display: block;
    margin: 0.1rem 0 1rem 0;
    padding: 0.3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1rem;
    color: #3d405b;
    width: 250px;
  }

  input:required {
    border-left-color: #d70000;
  }
  input:focus {
    border-left-color: black;
    outline: none;
  }
  input:required:valid {
    border-left-color: green;
  }

  input[type="submit"] {
    border: none;
    text-align: center;
    background-color: #9e5b00;
    color: white;
    border-radius: 200px;
    padding: 0.75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
  }
}
input:-webkit-autofill {
  -webkit-text-fill-color: #3d405b;
}

textarea {
  display: block;
  width: 250px;
  padding: 0.3rem;
  border: 1px solid #999;
  border-radius: 4px;
  min-height: 100px;
  resize: none;
}

#results {
  background-color: #f4f1de;
  padding: 0 1rem;
  border: 1px solid #e07a5f;
  border-radius: 6px;
}
